<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link href="{{url_for('.static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    </head>
    <body>

        <div class="container-fluid">
            <div class="page-header">
                <h2>Dashboard</h2>
            </div>

            <!-- <h2 class="sub-header">Section title</h2> -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Study</th>
                      <th style="text-align:center">Type</th>
                      <th style="text-align:center">Active</th>
                      <th style="text-align:center">Completed</th>
                      <th style="text-align:center">Available</th>
                      <th style="text-align:center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exp in params %}
                        <tr>
                            <td><a href="{{ url_for('dashboard_view_experiment', exp_id=exp.id) }}">{{ exp.name }}</a></td>
                            <td style="text-align:center">{{ exp.type }}</td>
                            <td style="text-align:center"><a href="{{ url_for('dashboard_view_active', exp_id=exp.id) }}">{{ exp.num_active }}</a></td>
                            <td style="text-align:center"><a href="{{ url_for('dashboard_view_completed', exp_id=exp.id) }}">{{ exp.num_completed }}</a></td>
                            <td style="text-align:center">{{ exp.num_available }}</td>
                            <td style="text-align:center">{{ exp.num_participants }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
        
    </body>
</html>
    